<h1 class="">Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li> <%= link_to task.title, task_path(task) %> -- <%= task.completed ? "done" : "not done" %></li>
  <% end %>
</ul>

<%= link_to "+ Add new task", new_path %>





